export(SummaryStatsTTestBayesianIndependentSamples)
export(SummaryStatsTTestBayesianPairedSamples)
export(SummaryStatsTTestBayesianOneSample)
export(SummaryStatsCorrelationBayesianPairs)
export(SummaryStatsRegressionLinearBayesian)
export(SummaryStatsBinomialTestBayesian)
