import(jaspBase)
export(SummaryStatsTTestBayesianIndependentSamples)
export(SummaryStatsTTestBayesianPairedSamples)
export(SummaryStatsTTestBayesianOneSample)
export(SummaryStatsCorrelationBayesianPairs)
export(SummaryStatsRegressionLinearBayesian)
export(SummaryStatsBinomialTestBayesian)
export(SummaryStatsABTestBayesian)
export(SummaryStatsGeneralBayesianTests)
